<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指向实体类 -->
<mapper namespace="com.njwb.mapper.ProvinceMapper">
	<!-- 查询所有省份 -->
	<select id="selectAllProv" resultType="Province">
		select prov_id as provId,
			   prov_name as provName
		  from t_province
	</select>
</mapper>